body {
	margin: 0;
	padding: 0; 
}

h1 {
	font-family: lato, sans-serif; 
	font-size: 30pt;
	font-weight: 400; 
	color: #d34e24;
	margin: 0;
	padding: 0;
}

h2 {
	font-family: lato, sans-serif;
	font-size: 30pt;
	font-weight: 600;
	color: #d34e24;
}

h3 {
	font-family: lato, sans-serif;
	font-size: 25pt;
}

h4 {
	font-family: lato, sans-serif;
	font-size: 20pt;
}

h5 {
	font-family: lato, sans-serif;
	font-size: 14pt;
}

h6 {
	font-family: lato, sans-serif;
	font-size: 12pt;
}

p {
	font-family: lato, sans-serif;
	font-size: 10pt;
	font-weight: 300; 
}

h2 i {
	padding-left: 30px;
	color: #FDCD01;
}

.content {
		float:left;
		margin: 70px 100px 40px 400px;
		max-width: 600px; 
	}

@media screen and (max-width: 770px) {
	header {
		background: red; !important; 
	}

}

@media screen and (max-width: 380px) {
	header {
		display: none; 
	}

}


