body {
	margin: 0;
	padding: 0; 
	min-width: 320px;
	cursor: default;
}
h1,h2,h3,h4,h5,h6 {
	font-family: lato, sans-serif; 
	font-weight: 600;
}
h1 {
	font-size: 30pt;
	color: #d34e24;
	margin: 0;
	padding: 0;
}
h2 {
	font-size: 30pt;
	color: #d34e24;
}
h3 {
	font-size: 25pt;
}
h4 {
	font-size: 20pt;
}
h5 {
	font-size: 14pt;
}
h6 {
	font-size: 12pt;
}
p {
	font-family: 'lato', sans-serif;
	font-size: 10pt;
	font-weight: 300; 
}

h2 i {
	padding-left: 30px;
	color: #FDCD01;
}

.content {
		margin: 32px;
	}

/** ------- MEDIA -------- **/

@media (min-width: 928px) {
	.content {
		float:left;
		margin: 70px 100px 40px 500px;
		max-width: 600px; 
	}
}
